@model Project



<h6>Edit Project : @Model.Name</h6>


<form method="post">
    <table cellpadding="10">
        <tr>
            <td>Project ID :</td>
            <td>
                <input type="text"
                       asp-for="ProjectID" readonly />
            </td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>
                <input type="text"
                       asp-for="Name" />
            </td>
        </tr>
        <tr>
            <td>Description :</td>
            <td>
                <input type="text"
                       asp-for="Description" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Save"
                       asp-controller="Projects"
                       asp-action="UpdateSave"
                       asp-route-Projectid="@Model.ProjectID" />

                <input type="submit"
                       value="Cancel"
                       asp-controller="Projects"
                       asp-action="CancelEntry"
                       asp-route-Projectid="@Model.ProjectID" />
            </td>
        </tr>
    </table>
</form>